@*W metodzie wywołującą tą stronę zwracam jej model*@
@model Ksiegarnia.Models.ViewModels.ProduktVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Utwórz produkt";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Produkt.Id != 0)
        {
            //do edycji
            title = "Edytuj produkt";
            <input type="hidden" asp-for="Produkt.Id" />
        }

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">

                    @*W naszym modelu mamy -> public string Nazwa { get; set; }*@
                    <label asp-for="Produkt.Title"></label>

                </div>
                <div class="col-8">

                    <input asp-for="Produkt.Title" class="form-control" />

                    @*W naszym modelu mamy -> [Required]
                [MaxLength(50)]*@
                    <span asp-validation-for="Produkt.Title" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.ISBN"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.ISBN" class="form-control" />
                    <span asp-validation-for="Produkt.ISBN" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.Author"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.Author" class="form-control" />
                    <span asp-validation-for="Produkt.Author" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Produkt.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.ListPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.ListPrice" class="form-control" />
                    <span asp-validation-for="Produkt.ListPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.Price" class="form-control" />
                    <span asp-validation-for="Produkt.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.Price50"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.Price50" class="form-control" />
                    <span asp-validation-for="Produkt.Price50" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Produkt.Price100"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Produkt.Price100" class="form-control" />
                    <span asp-validation-for="Produkt.Price100" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Category
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Produkt.KategoriaId, Model.ListaKategorii, "Wybierz kategorie",
                   new { @class = "form-control" })
                    <span asp-validation-for="Produkt.KategoriaId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Cover Type
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Produkt.OkladkaId, Model.ListaOkładek, "Wybierz okładkę",
                   new { @class = "form-control" })
                    <span asp-validation-for="Produkt.OkladkaId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Image
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Produkt.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Produkt.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Utwórz</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Wróc do kategorii</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Produkt.Id != 0)
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.Produkt.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        }
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });


        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Proszę wybrać obraz", "error");
                return false;
            }
            return true;
        };

    </script>

}