@*W metodzie wywołującą tą stronę zwracam jej model*@
@model Ksiegarnia.Models.Kategoria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Utwórz kategorie";
}

<form method="post">
    <div class="row p-3 border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if(Model.Id != 0)
        {
            //do edycji
            title = "Edytuj kategorie";
        }

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">

                    @*W naszym modelu mamy -> public string Nazwa { get; set; }*@
                    <label asp-for="Nazwa"></label>

                </div>
                <div class="col-8">

                    <input asp-for="Nazwa" class="form-control" />

                    @*W naszym modelu mamy -> [Required]
                                              [MaxLength(50)]*@
                    <span asp-validation-for="Nazwa" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">

                    @*Korzystam z widoków partial -> _EditAndBackToListButton.cshtml
                                                  -> _CreateAndBackToListButton.cshtml*@

                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}